/* import poppins */
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap';

:root{
    --main-color: #174EA6;
    --main-color-hover: #0056b3;
    --main-bg-color: #f8f8fa;
    --main-bg-color-hover: #e9ecef;
    --main-text-color: #212529;
    --main-text-color-hover: #495057;
    --main-border-color: #dee2e6;
    --main-border-color-hover: #ced4da;
    --main-shadow-color: rgba(0, 0, 0, 0.15);
    --main-shadow-color-hover: rgba(0, 0, 0, 0.1);
    --main-font-family: 'Poppins', sans-serif;
    --main-font-size: 1rem;
    --main-line-height: 1.5;
    --main-border-radius: 0.25rem;
    --main-transition: all 0.3s ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.screen_section{
    display: flex;
    justify-content: center;
    align-items:last baseline;
    height: 100vh;
    padding-bottom: 10%;
}

.custom-input{
    border: 2px solid var(--main-color);
    border-radius: 12px;
    height: 50px;
}

.btn-custom{
    background-color: var(--main-color);
    border: none;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    height: 50px;
    width: 100%;
    transition: var(--main-transition);
}

/* index html */
.menubar{
    background-color: var(--main-color);
    color: white;
}

.menubar i{
    font-size: 32px;
}

.tenant_info_card{
    border: 2px solid var(--main-color);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px 12px 0 12px;
}

.rental_status_card{
    /* background-color: rgb(8, 84, 14); */
    color: rgb(8, 84, 14);
    border-radius: 12px;
    padding: 20px;
    height: 80px;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.card{
    height: 200px;
    margin: 10px 0;
    text-align: center;
    transition: 1s;
    position: relative;
    
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover{
    transform: scale(1.1);
}

.card p{
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
}
.card i{
    font-size: 40px;
}

.notification_dot{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(84, 6, 6);
    border-radius: 50%;
    color: white;
    font-size: 11px;
    font-weight: 600;
    top: 10px;
    right: 10px;
}