{% extends '../base.html' %}

{% block title %}Transaction{% endblock %}

{% block content %}
<div class="row px-4">
    <div class="col-md-8 col-12">
        <div class="d-flex justify-content-end">
            <div class="text-right d-flex justify-content-center align-items-center text-light m-2 add_transaction_col_btn" style="background-color: gray; width: 30px; height: 30px; border-radius: 100%;">
                <i class="fa fa-plus "></i>
            </div>
        </div>

        <div class="card" style="height: 80vh;">
            <div class="card-header text-light">
                <h4 class="card-title">Transaction List</h4>
            </div>
            <div class="card-body">
                <div class="search_container d-flex justify-content-between">
                    <div>
                        <i class="fa fa-print"></i>
                        <span>PRINT</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="" id="" class="form-control input_outline" placeholder="Search">
                    </div>
                </div>
                <table class="table table-striped" style="height: 200px; overflow-y: scroll;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">FULL NAME</th>
                            <th scope="col">AMOUNT</th>
                            <th scope="col">MONTH</th>
                            <th scope="col">RECEIPT</th>
                            <th scope="col">MPESA REF</th>
                            <th scope="col">DATE</th>
                            <!-- <th scope="col">ACTION</th> -->
                        </tr>
                    </thead>
                    <tbody >
                        {% for payment in RentPayment %}
                            <tr>
                                <th style="font-size: 11px;" scope="row">{{ forloop.counter }}</th>
                                <td style="font-size: 11px;">{{ payment.student.user.first_name }} {{ payment.student.user.last_name }}</td>
                                <td style="font-size: 11px;">{{ payment.amount }}</td>
                                <td style="font-size: 11px;">{{ payment.month_paid }}</td>
                                <td style="font-size: 11px;">{{ payment.reciept }}</td>
                                <td style="font-size: 11px;">{{ payment.mpesa_ref }}</td>
                                <td style="font-size: 11px;">{{ payment.date_paid }}</td>
                                <!-- <td style="font-size: 12px;" class="text-center">
                                    <a href="{% url 'delete_rent_payment' payment.id %}" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td> -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-4 add_transaction_col">
        
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Transaction</h4>
                <form action="{% url 'add_rentpayment' %}" method="post" id="transactionForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="full_name">Full Name</label>
                        <select name="full_name" id="full_name" class="form-control input_outline" style="height: 40px;">
                            <option value="">Select student</option>
                            {% for students in Students %}
                                <option value="{{ students.id }}" class="py-4">{{ students.user.first_name }} {{ students.user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="text" name="amount" id="amount" class="form-control input_outline" placeholder="Amount">
                    </div>
                    <div class="form-group">
                        <label for="month">Month</label>
                        <input type="text" name="month" id="month" class="form-control input_outline" placeholder="Month">
                    </div>
                    <div class="form-group">
                        <label for="mpesa_ref">Mpesa Ref</label>
                        <input type="text" name="mpesa_ref" id="mpesa_ref" class="form-control input_outline" placeholder="Mpesa Ref">
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" name="date" id="date" class="form-control input_outline" placeholder="Date">
                    </div>
                    <div class="form-group">
                        <label for="reciept">Receipt No.</label>
                        <input type="text" name="reciept" id="reciept" class="form-control input_outline" placeholder="Receipt">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="confirmAddTransaction">Add Transaction</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var confirmButton = document.getElementById('confirmAddTransaction');
        
        confirmButton.addEventListener('click', function() {
            var fullName = document.getElementById('full_name').value;
            var amount = document.getElementById('amount').value;
            var month = document.getElementById('month').value;
            var mpesaRef = document.getElementById('mpesa_ref').value;
            var date = document.getElementById('date').value;
            var receipt = document.getElementById('reciept').value;

            var confirmationMessage = `
                Are you sure you want to add the following transaction?\n\n
                Full Name: ${fullName}\n
                Amount: ${amount}\n
                Month: ${month}\n
                Mpesa Ref: ${mpesaRef}\n
                Date: ${date}\n
                Receipt No: ${receipt}
            `;
            
            if (confirm(confirmationMessage)) {
                localStorage.setItem('transactionConfirmed', 'true');
                document.getElementById('transactionForm').submit();
            }else {
                // Clear the stored decision if the user cancels
                localStorage.removeItem('transactionConfirmed');
            }
        });
    });
</script>

<script>
    // onclick add_transaction_col_btn
</script>

{% endblock %}
