{% extends '../base.html' %}

{% block title %}Transaction{% endblock %}

{% block content %}
<style>
    @media screen and (max-width: 768px){
        .add_transaction_col_btn{
            position: fixed;
            right: 20px;
            bottom: 20px;
            width: 50px;
            height: 50px;
            z-index: 1000;
            background-color: white;
            color: black;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
            border-radius: 50%;
        }

        .transaction_card .card-body{
            height: 100vh;
            width: 100%;
            overflow: auto;
        }

        .card-header{
            width: 100%;
        }
        .transaction_card{
            height: 100vh;
        }
        .table-wrapper {
            min-height: 100%; /* Set a fixed height for the table wrapper */
        }

    }

    .transaction_card{
        height: 80vh;
        overflow-y: auto;
    }


    .show{
        display: block; /* Show the element */
        height: 85vh;
    }

    .table-wrapper {
        max-height: 400px; /* Set a fixed height for the table wrapper */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    table.table {
        width: 100%; /* Ensure the table width fits within the parent div */
        display: table; /* Ensure table layout */
    }

    table.table thead {
        position: sticky; /* Keep the header sticky */
        top: 0; /* Stick to the top */
        background: white; /* Background color to match the table */
        z-index: 10; /* Place the header above the table rows */
    }

    .transactionPrintPopup{
        position: fixed;
        z-index: 2010;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
        justify-content: center;
        align-items: center;
    
    }

    .transactionPrintPopupContent{
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 300px;
        border-radius: 8px;
    
    }
    .transactionPrintPopupClose{
        cursor: pointer;
    }

    .transactionPrintPopupClose:hover{
        background-color: aqua;
    }
    table.table td , th{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; /* Prevent text from wrapping */
    }
    .print_input_outline{
        border: none;
        border-bottom: 1px solid #174EA6;
        background: rgb(240, 240, 240);
        color: #174EA6;
        font-size: 14px;
        border-radius: 0;
        margin: 5px 0;
    }
</style>

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<!-- print transaction card popup with option for select month -->
<div class="transactionPrintPopup">
    <div class="transactionPrintPopupContent">
        <div class="transactionPrintPopupHeader d-flex justify-content-between align-items-center">
            <h2 class="text-primary">Print Transaction</h2>
            <span class="transactionPrintPopupClose text-right bg-primary py-2 px-3 text-light" style="border-radius: 12px;">&times;</span>
        </div>
        <div class="d-flex justify-content-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvTnCHYKQCAjMcRuz_PGGaO7dYL1q494Wzjg&s" alt="">
        </div>
        <div class="transactionPrintPopupBody">
            <form action= "{% url 'print_transactions' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="month">Month</label>
                    <select name="month" id="month" class="form-control print_input_outline">
                        <option value="all">All</option>
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                        <option value="april">April</option>
                        <option value="may">May</option>
                        <option value="june">June</option>
                        <option value="july">July</option>
                        <option value="august">August</option>
                        <option value="september">September</option>
                        <option value="october">October</option>
                        <option value="november">November</option>
                        <option value="december">December</option>
                    </select>
                </div>  
                <div class="form-group d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary px-5">Print</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if user.is_superuser %}

<div class="d-flex justify-content-end">
    
    <div class="text-right d-flex justify-content-center align-items-center m-2 add_transaction_col_btn" data-target=".add_transaction_col">
        <i class="fa fa-plus"></i>
    </div>
</div>
{% endif %}
<div class="row px-md-4 px-1 py-3 py-md-0">
    {% if user.is_superuser %}
    <div class="col-md-8 col-12">
    {% else %}
    <div class="col-md-12 col-12">
    {% endif %}
        <div class="card transaction_card">
            <div class="card-header text-light w-100 sticky-top container-fluid d-flex justify-content-between align-items-end" style="z-index: 100;">
                <div>
                    <h4 class="card-title">Transaction List</h4>
                    <p>List of all transactions from 2024 </p>
                </div>
                <div>
                    <a href="#" class="btn btn-success print_transactions">Download PDF</a>
                </div>
            </div>
            <div class="card-body container-fluid sticky-top" style="z-index: 220;">
                <div class="search_container w-100 d-flex justify-content-between">
                    <div></div>
                    <div class="form-group ">
                        <input type="text" name="search" id="search" class="form-control print_input_outline" placeholder="Search" aria-label="Search Transactions">
                    </div>
                </div>
                <div class="table-wrapper">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" style="min-width: 120px;">FULL NAME</th>
                                <th scope="col">AMOUNT</th>
                                <th scope="col">MONTH</th>
                                <th scope="col">RECEIPT</th>
                                <th scope="col">MPESA REF</th>
                                <th scope="col">DATE</th>
                            </tr>
                        </thead>
                        <tbody id="transactionBody">
                            {% for payment in RentPayment %}
                                <tr>
                                    <th style="font-size: 11px;" scope="row">{{ forloop.counter }}</th>
                                    <td style="font-size: 11px;">{{ payment.student.user.first_name }} {{ payment.student.user.last_name }}</td>
                                    <td style="font-size: 11px;">{{ payment.amount }}</td>
                                    <td style="font-size: 11px;">{{ payment.month_paid }}</td>
                                    <td style="font-size: 11px;">{{ payment.reciept }}</td>
                                    <td style="font-size: 11px;">{{ payment.mpesa_ref }}</td>
                                    <td style="font-size: 11px;">{{ payment.date_paid }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_superuser %}

    <div class="col-md-4 col-12 add_transaction_col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Transaction</h4>
                <form action="{% url 'add_rentpayment' %}" method="post" id="transactionForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="full_name">Full Name</label>
                        <select name="full_name" id="full_name" class="form-control input_outline" style="height: 40px;">
                            <option value="">Select student</option>
                            {% for students in Students %}
                                <option value="{{ students.id }}" class="py-4">{{ students.user.first_name }} {{ students.user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="text" name="amount" id="amount" class="form-control input_outline" placeholder="Amount">
                    </div>
                    <div class="form-group">
                        <label for="month">Month</label>
                        <select name="month" id="month" class="form-control input_outline">
                            <option value="january">January</option>
                            <option value="february">February</option>
                            <option value="march">March</option>
                            <option value="april">April</option>
                            <option value="may">May</option>
                            <option value="june">June</option>
                            <option value="july">July</option>
                            <option value="august">August</option>
                            <option value="september">September</option>
                            <option value="october">October</option>
                            <option value="november">November</option>
                            <option value="december">December</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="mpesa_ref">Mpesa Ref</label>
                        <input type="text" name="mpesa_ref" id="mpesa_ref" class="form-control input_outline" placeholder="Mpesa Ref">
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" name="date" id="date" class="form-control input_outline" placeholder="Date">
                    </div>
                    <div class="form-group">
                        <label for="reciept">Receipt No.</label>
                        <input type="text" name="reciept" id="reciept" class="form-control input_outline" placeholder="Receipt">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="confirmAddTransaction">Add Transaction</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
     // filter the table with jquery
     $(document).ready(function () {
            // Event listener for input change
            $('#search').on('keyup', function () {
            // Get the value from the search input and convert to lowercase
                var value = $(this).val().toLowerCase();
                console.log(`Filtering by ${value}`);
                // Filter each row in the table
                $('#transactionBody tr').filter(function () {
                    // Toggle the visibility of the row based on the room number
                    $(this).toggle($(this).find('td').eq(2).text().toLowerCase().indexOf(value) > -1);
                    console.log($(this).find('td').eq(2).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
</script>

{% if user.is_superuser %}
<script>
     function setMonth() {
        var d = new Date();
        var month = d.getMonth();
        var select = document.getElementById('month');
        select.selectedIndex = month;
    }

    // Call the function to set the month
    setMonth();

    //  function to set the select month to the current month
   

    document.addEventListener('DOMContentLoaded', function() {

        var addTransactionBtn = document.querySelector('.add_transaction_col_btn');
        var addTransactionCol = document.querySelector('.add_transaction_col');

        addTransactionBtn.addEventListener('click', function() {
            addTransactionCol.classList.toggle('show');
            $('.col-md-8').toggle('hide');
        });

        var confirmButton = document.getElementById('confirmAddTransaction');
        
        confirmButton.addEventListener('click', function() {
            var fullName = document.getElementById('full_name').value;
            var amount = document.getElementById('amount').value;
            var month = document.getElementById('month').value;
            var mpesaRef = document.getElementById('mpesa_ref').value;
            var date = document.getElementById('date').value;
            var receipt = document.getElementById('reciept').value;

            var confirmationMessage = `
                Are you sure you want to add the following transaction?\n\n
                Full Name: ${fullName}\n
                Amount: ${amount}\n
                Month: ${month}\n
                Mpesa Ref: ${mpesaRef}\n
                Date: ${date}\n
                Receipt No: ${receipt}
            `;
            
            if (confirm(confirmationMessage)) {
                localStorage.setItem('transactionConfirmed', 'true');
                document.getElementById('transactionForm').submit();
            } else {
                // Clear the stored decision if the user cancels
                localStorage.removeItem('transactionConfirmed');
            }
        });

        // Debounce function to limit the rate at which a function can fire
        function debounce(func, wait) {
            let timeout;
            return function(...args) {
                clearTimeout(timeout);
                timeout = setTimeout(() => func.apply(this, args), wait);
            };
        }

       
    });

    $(".print_transactions").click(()=> {
        $(".transactionPrintPopup").css("display", "flex")
    })

    $(".transactionPrintPopupClose").click(()=> {
        $(".transactionPrintPopup").css("display", "none")
    })
</script>
{% endif %}


{% endblock %}
