<style>
    @media screen and (max-width: 768px) {
        .search_input {
            width: 100%;
        }

        table.table td , th{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; /* Prevent text from wrapping */
        }
        
    }
</style>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Room No.</th>
            <th scope="col">Rent</th>
            <th scope="col">Arrears</th>
            <th scope="col">Meal</th>
            <th scope="col">Adm Date</th>
            {% if user.is_superuser %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody class="allstudentTableBody">
        {% for student in Students %}
        <tr class="student">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
            <td>{{ student.room_number }}</td>
            <td>{{ student.rent_amount }}</td>
            <td>{{ student.arrears }}</td>
            <td>
                {% if student.has_food %}
                <input type="checkbox" checked class="form-control" style="width: 20px;" disabled>
                {% else %}
                <input type="checkbox" class="form-control" style="width: 20px;" disabled>
                {% endif %}
            </td>
            <td>{{ student.adm_date }}</td>
            {% if user.is_superuser %}
            <td>
                <a href="{% url 'edit_student' student.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_student' student.id %}" class="btn btn-danger">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- jquery -->
<!-- jQuery script for filtering -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Event listener for input change
        $('.search_input').on('keyup', function () {
            // Get the value from the search input and convert to lowercase
            var value = $(this).val().toLowerCase();

            // Filter each row in the table
            $('.allstudentTableBody .student').filter(function () {
                // Toggle the visibility of the row based on the room number
                $(this).toggle($(this).find('td').eq(1).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>