<style>
    @media screen and (max-width: 768px) {
        .search_input {
            width: 100%;
        }

        table.table td , th{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; /* Prevent text from wrapping */
        }
        
    }
</style>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Room No.</th>
            <th scope="col">Rent</th>
            <th scope="col">Arrears</th>
            <th scope="col">Meal</th>
            <th scope="col">Adm Date</th>
            {% if user.is_superuser %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody class="allstudentTableBody">
        {% for student in Students %}
        <tr class="student">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
            <td>{{ student.room_number }}</td>
            <td>{{ student.rent_amount }}</td>
            <td>{{ student.arrears }}</td>
            <td>
                {% if student.has_food %}
                <input type="checkbox" checked class="form-control" style="width: 20px;" disabled>
                {% else %}
                <input type="checkbox" class="form-control" style="width: 20px;" disabled>
                {% endif %}
            </td>
            <td>{{ student.adm_date }}</td>
            {% if user.is_superuser %}
            <td>
                <a href="{% url 'edit_student' student.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_student' student.id %}" class="btn btn-danger">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    .filter_with_meal_check_box{
        margin: 10px 0;
        position: fixed;
        bottom: 0px;
        right: 20px;
        padding: 18px;
        background-color: white;
        border-radius: 30px;
        width: 60px;
        min-height: 70px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .6); 
    }
    .filter_with_meal_check_box label{
        font-size: .9em;
    }
    .filter_with_meal_check_box input{
        width: 20px;
    }
</style>

<div class="filter_with_meal_check_box">
    <div class="form-group">
        <input type="checkbox" class="form-control" style="width: 20px;" id="filter_with_arrears">
        <label for="filter_with_meal">Arrears</label>
    </div>    
    <div class="form-group">
        <input type="checkbox" class="form-control" style="width: 20px;" id="filter_with_meal">
        <label for="filter_with_meal">Meal</label>
    </div>    
</div>

<div class="filter_with_arrears_check_box">
</div>


<!-- jquery -->
<!-- jQuery script for filtering -->
<!-- jQuery script for filtering -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Event listener for search input
        $('.search_input').on('keyup', function () {
            var value = $(this).val().toLowerCase();

            $('.allstudentTableBody tr').filter(function () {
                var roomNumber = $(this).find('td').eq(1).text().toLowerCase();
                $(this).toggle(roomNumber.indexOf(value) > -1);
            });
        });

        // Event listener for filtering by checkboxes
        $('#filter_with_arrears, #filter_with_meal').on('change', function () {
            var filterArrears = $('#filter_with_arrears').is(':checked');
            var filterMeal = $('#filter_with_meal').is(':checked');

            $('.allstudentTableBody tr').each(function () {
                var show = true;
                if (filterArrears) {
                    var arrears = $(this).find('td').eq(3).text().trim().toLowerCase();
                    show = show && (parseFloat(arrears) > 0);
                }
                if (filterMeal) {
                    var meal = $(this).find('td').eq(4).find('input').is(':checked');
                    show = show && meal;
                }
                $(this).toggle(show);
            });
        });
    });
</script>