{% block sidebar %}
<div class="sidebar_items">
    <!-- dashbaord, Borrowers, Loan, Payment, Reports, Staff, Backup with icons -->
    <div class="sidebar_item active">
        <a href="index.php">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </div>

    <div class="sidebar_item">
        <a href="borrowers.php">
            <i class="fas fa-users"></i>
            <span>Students</span>
        </a>
    </div>

    <div class="sidebar_item">
        <a href="loan.php">
            <i class="fas fa-money-check-alt"></i>
            <span>Transaction</span>
        </a>
    </div>

    <div class="sidebar_item">
        <a href="payment.php">
            <i class="fas fa-money-bill-wave"></i>
            <span>Transactions</span>
        </a>
    </div>

    <div class="sidebar_item">
        <a href="reports.php">
            <i class="fas fa-chart-line"></i>
            <span>Reports</span>
        </a>
    </div>

    <div class="sidebar_item">
        <a href="staff.php">
            <i class="fas fa-users-cog"></i>
            <span>Staff</span>
        </a>
    </div>

    <div class="sidebar_item">
        <a href="backup.php">
            <i class="fas fa-database"></i>
            <span>Backup</span>
        </a>
    </div>
</div>
{% endblock %}