<!-- templates/myapp/index.html -->
{% extends "base.html" %}

{% block title %}Student - Shadav Hostel{% endblock %}

{% block content %}
<style>
    .custom_btn{
        background: #174EA6;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
    }
    .student_list_popup{
        width: 400px;
        position: absolute;
        top: 0;
        right: 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
    .student{
        padding: 10px 10px;

    }
    .student:hover{
        background-color: #174EA6;
        color: white;
    }
    @media screen and (max-width: 768px){
        body{
            overflow-x: scroll;
            width: 100%;
        }
        #student_list_popup{
            right: 0;
            top: 10%;
            width: 100%;
        }
        #student_details{
            /* display: block; */
        }

        .card-body{
            overflow-x: scroll;
            width: 100%;
        }

        .add_student{
            display: none;
        }

        .rent_payment_table{
            width: 100%;
            overflow-x: scroll;
        }

        .tab_container{
            width: 100%;
            overflow-x: scroll;
        }
        .search_input{
            width: 100%;
        }
    }
</style>

{% comment %} search student popup tab {% endcomment %}


<div class="student_content px-3">
    <div class="d-flex justify-content-between align-items-center">
        <div class="search_form">
            <div class="form-group">
                <input type="text" class="form-control input_outline text-center search_input" placeholder="Name, Amount, Arrears, Room">
            </div>
        </div>
        <button class="btn add_student custom_btn" style="font-size: 14px">Add Student</button>
    </div>

    <div class="tab_container my-4 d-flex">
        <div class="b_tab" data-tab="findStudent">
            <i class="fa fa-user"></i>
            <span>Find Student</span>
        </div>
        <div class="b_tab" data-tab="addStudent">
            <i class="fa fa-users"></i>
            <span>New Student</span>
        </div>
        <div class="b_tab" data-tab="allStudents">
            <i class="fa fa-users"></i>
            <span>All Students</span>
        </div>
        <div class="b_tab" data-tab="terminatedStudent">
            <i class="fa fa-users"></i>
            <span>Terminated Student</span>
        </div>
    </div>

    <div class="tab_content_container w-100">
        <div class="find_student tab_container w-100">
            <div class="customCard card w-100 position-relative">
                <div class="card-header text-light">
                    <h3><b>Shadov Student List</b></h3>
                    <p>Find Student by Student Name</p>
                </div>
                <div class="card-body position-relative">
                    <div class="content findStudent_content">
                        {% include 'findStudent.html' %}
                    </div>
                    <div class="content addStudent_content">
                        {% include 'addStudent.html' %}
                    </div>  
                    <div class="content allStudents_content">
                        {% include 'AllStudents.html' %}
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Check local storage for the last active tab
        const lastTab = localStorage.getItem('lastTab') || 'findStudent';

        // Hide all tab contents initially
        $('.tab_content_container .content').hide();
        // Show the content of the last active tab
        $(`.tab_content_container .${lastTab}_content`).show();
        // Activate the last active tab
        $(`.b_tab[data-tab="${lastTab}"]`).addClass('active');

        // Tab click handler
        $('.b_tab').click(function() {
            // Get the tab to show
            const tab = $(this).data('tab');

            // Save the selected tab to local storage
            localStorage.setItem('lastTab', tab);

            // Remove 'active' class from all tabs
            $('.b_tab').removeClass('active');
            // Add 'active' class to the clicked tab
            $(this).addClass('active');

            // Hide all tab contents
            $('.tab_content_container .content').hide();
            // Show the clicked tab's content
            $(`.tab_content_container .${tab}_content`).show();
        });
    });
</script>

{% endblock %}
