<!-- templates/myapp/index.html -->
{% extends "base.html" %}

{% block title %}Student - Shadav Hostel{% endblock %}

{% block content %}
<style>
    .custom_btn{
        background: #174EA6;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
    }
    .student_list_popup{
        width: 400px;
        position: absolute;
        top: 0;
        right: 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
    .student{
        padding: 10px 10px;

    }
    .student:hover{
        background-color: #174EA6;
        color: white;
    }
</style>

{% comment %} search student popup tab {% endcomment %}


<div class="student_content px-3">
    <div class="d-flex justify-content-between align-items-center">
        <div class="search_form">
            <div class="form-group">
                <input type="text" class="form-control input_outline text-center" placeholder="Name, Amount, Arrears, Room">
            </div>
        </div>
        <button class="btn add_student custom_btn">Add Student</button>
    </div>

    <div class="tab_container my-4 d-flex">
        <div class="b_tab active">
            <i class="fa fa-user"></i>
            <span>Find Student</span>
        </div>

        <div class="b_tab">
            <i class="fa fa-users"></i>
            <span>All Student</span>
        </div>

        <div class="b_tab">
            <i class="fa fa-users"></i>
            <span>New Student</span>
        </div>

        <div class="b_tab">
            <i class="fa fa-users"></i>
            <span>Terminated Student</span>
        </div>
    </div>

    <div class="tab_content_container w-100">
        <div class="find_student tab_container w-100">
            <div class="card w-100 position-relative">
                <div class="card-header text-light">
                    <h3><b>Shadov Student List</b></h3>
                    <p>Find Student by Student Name</p>
                </div>
                <div class="card-body position-relative">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" name="studentname" id="studentname" class="input_outline" placeholder="Enter Student Name">
                        </div>

                        <div class="student_list_popup" id="student_list_popup">
                            <div class="card">
                                <div class="card-body">
                                    {% for student in Students %}
                                    <div class="student d-flex align-items-center">
                                        <i class="fa fa-user"></i>
                                        <span class="px-4">{{student.user.username}}</span>
                                    </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="student_info py-5 px-3 w-100">
                            <h5><b>Students Information</b></h5>
                            <div class="row w-100">
                                <div class="col-3">
                                    <input type="text" name="" id="fullname" class="form-control input_outline" placeholder="Student Full Name">
                                </div>

                                <div class="col-3">
                                    <input type="text" name="" id="room" class="form-control  input_outline" placeholder="Room No.">
                                </div>

                                <div class="col-3">
                                    <input type="text" name="" id="rent" class="form-control  input_outline" placeholder="Rent Amount.">
                                </div>

                                <div class="col-3">
                                    <input type="text" name="" id="arrears" class="form-control  input_outline" placeholder="Arrears.">
                                </div>
                                <div class="col-3 py-3 d-flex align-items-center" style="gap: 10px">
                                    <input type="checkbox" name="" id="meal" class="form-control" style="width: 70px;"> <h5>Meal</h5>
                                </div>
                                <div class="col-3 py-3">
                                    <input type="text" name="" id="adm" class="form-control  input_outline" placeholder="Adm Date.">
                                </div>
                            </div>
                        </div>

                        <div class="payment_info py-4 px-3 w-100">
                            <h5><b>Rent Payment Information</b></h5>
                            <table class="table table-striped w-100">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>AMOUNT</th>
                                        <th>MONTH</th>
                                        <th>REF</th>
                                        <th>DATE</th>
                                        <th>BAL</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="payment_info py-5 px-3 w-100">
                            <h5><b>Meal Payment Information</b></h5>
                            <table class="table table-striped w-100">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>AMOUNT</th>
                                        <th>MONTH</th>
                                        <th>REF</th>
                                        <th>DATE</th>
                                        <th>BAL</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#student_list_popup').hide();

    $(document).ready(function() {
        $('#studentname').on('input', function() {
            $('#student_list_popup').show();
        });
    });
</script>
{% endblock %}
