{% extends "base.html" %}

{% block title %}Student - Shadav Hostel{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center w-100" style="height: 100vh; overflow: hidden;">
    <div>
        <!-- sad emoji -->
         
        <div class="d-flex">
            <img src="https://t4.ftcdn.net/jpg/00/89/02/67/360_F_89026793_eyw5a7WCQE0y1RHsizu41uhj7YStgvAA.jpg" alt="" width="100%">
        </div>
        <h1 class="text-center">UnderContruction</h1>
    </div>
</div>
{% endblock %}